.center {
  align-items: center;
  justify-content: center;
  height: 100%;
  
}

.mySwiper {
  width: 100%;
  height: 100%;
  max-width: 80%;
  max-height: 50%;
  box-shadow: 0px 0px 10px #ccc;
  transition: all 0.3s ease-in-out;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mySwiper:hover {
  box-shadow: 0px 0px 20px #333;
  transform: translateY(-10px);
}